ProjetoApollo/ClienteForms/Web References/localhost/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteArtista" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteArtista" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Artista">
    <xs:sequence>
      <xs:element name="ArtistaID" type="xs:int" />
      <xs:element name="Email" nillable="true" type="xs:string" />
      <xs:element name="Nome" nillable="true" type="xs:string" />
      <xs:element name="Telefone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Artista" nillable="true" type="tns:Artista" />
  <xs:complexType name="ArrayOfArtista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Artista" nillable="true" type="tns:Artista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArtista" nillable="true" type="tns:ArrayOfArtista" />
</xs:schema>