ProjetoApollo/ClienteForms/Web References/localhost/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteArtistaLocacao" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteArtistaLocacao" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54570/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteArtista" />
  <xs:import schemaLocation="http://localhost:54570/Service1.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteLocacao" />
  <xs:complexType name="ArtistaLocacao">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteArtista" name="ArtistaID" nillable="true" type="q1:Artista" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteLocacao" name="LocacaoID" nillable="true" type="q2:Locacao" />
      <xs:element name="Quantidade" type="xs:int" />
      <xs:element name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArtistaLocacao" nillable="true" type="tns:ArtistaLocacao" />
  <xs:complexType name="ArrayOfArtistaLocacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArtistaLocacao" nillable="true" type="tns:ArtistaLocacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArtistaLocacao" nillable="true" type="tns:ArrayOfArtistaLocacao" />
</xs:schema>