ProjetoApollo/ClienteForms/Web References/localhost/Service10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteSalaHorario" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteSalaHorario" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54570/Service1.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteHorario" />
  <xs:import schemaLocation="http://localhost:54570/Service1.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteLocacao" />
  <xs:import schemaLocation="http://localhost:54570/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteSala" />
  <xs:complexType name="SalaHorario">
    <xs:sequence>
      <xs:element name="Codigo" type="xs:int" />
      <xs:element name="Data" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteHorario" name="Horario" nillable="true" type="q1:Horario" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteLocacao" name="Locacao" nillable="true" type="q2:Locacao" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteSala" name="Sala" nillable="true" type="q3:Sala" />
      <xs:element name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalaHorario" nillable="true" type="tns:SalaHorario" />
  <xs:complexType name="ArrayOfSalaHorario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalaHorario" nillable="true" type="tns:SalaHorario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalaHorario" nillable="true" type="tns:ArrayOfSalaHorario" />
</xs:schema>