ProjetoApollo/ClienteForms/Web References/localhost/Service16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteLocacao" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteLocacao" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54570/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteCliente" />
  <xs:complexType name="Locacao">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteCliente" name="ClienteID" nillable="true" type="q1:Cliente" />
      <xs:element name="DataCancelamento" nillable="true" type="xs:string" />
      <xs:element name="DataPagamento" nillable="true" type="xs:string" />
      <xs:element name="DataVencimento" nillable="true" type="xs:string" />
      <xs:element name="LocacaoID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Locacao" nillable="true" type="tns:Locacao" />
  <xs:complexType name="ArrayOfLocacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Locacao" nillable="true" type="tns:Locacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocacao" nillable="true" type="tns:ArrayOfLocacao" />
</xs:schema>