ProjetoApollo/ClienteForms/Web References/localhost/Service18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteTipo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteTipo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tipo">
    <xs:sequence>
      <xs:element name="Nome" nillable="true" type="xs:string" />
      <xs:element name="TipoID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tipo" nillable="true" type="tns:Tipo" />
  <xs:complexType name="ArrayOfTipo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tipo" nillable="true" type="tns:Tipo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipo" nillable="true" type="tns:ArrayOfTipo" />
</xs:schema>