ProjetoApollo/ClienteForms/Web References/localhost/Service14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteSala" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteSala" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Sala">
    <xs:sequence>
      <xs:element name="Descricao" nillable="true" type="xs:string" />
      <xs:element name="SalaID" type="xs:int" />
      <xs:element name="SalaNome" nillable="true" type="xs:string" />
      <xs:element name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sala" nillable="true" type="tns:Sala" />
  <xs:complexType name="ArrayOfSala">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sala" nillable="true" type="tns:Sala" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSala" nillable="true" type="tns:ArrayOfSala" />
</xs:schema>