ProjetoApollo/ClienteForms/Web References/localhost/Service110.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteLocacaoInstrumento" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteLocacaoInstrumento" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54570/Service1.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteInstrumento" />
  <xs:import schemaLocation="http://localhost:54570/Service1.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteLocacao" />
  <xs:complexType name="LocacaoInstrumento">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteInstrumento" name="Instrumento" nillable="true" type="q1:Instrumento" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Biblioteca.pacoteLocacao" name="Locacao" nillable="true" type="q2:Locacao" />
      <xs:element name="Quantidade" type="xs:int" />
      <xs:element name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocacaoInstrumento" nillable="true" type="tns:LocacaoInstrumento" />
  <xs:complexType name="ArrayOfLocacaoInstrumento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocacaoInstrumento" nillable="true" type="tns:LocacaoInstrumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocacaoInstrumento" nillable="true" type="tns:ArrayOfLocacaoInstrumento" />
</xs:schema>